
				<div class="radar-circle">


					<svg id="radar-circle">

						
						<circle cx="var(--cx)" 
										cy="var(--cy)" 
										r="0" 
						        fill-opacity="0" 
										stroke="var(--rpi-green" 
										stroke-width="2px">
							<animate attributeName="r" 
							         from="0" to="70" 
											 dur="3s" 
											 repeatCount="indefinite" />
							<animate attributeName="stroke-opacity" 
											 from="1" to="0" 
											 dur="1s" 
											 repeatCount="indefinite"></animate>
						</circle>

					</svg> 
					<!--
						<circle cx="var(--cx)" cy="var(--cy)" r="0" fill-opacity="0" stroke="var(--rpi-green" stroke-width="1.5px">
							<animate attributeName="r" from="0" to="70" dur="3s" repeatCount="indefinite" begin="0.75s" />
							<animate attributeName="stroke-opacity" from="1" to="0" dur="1s" repeatCount="indefinite" begin="0.75s"></animate>                         
						</circle>















						<circle cx="var(--cx)" cy="var(--cy)" r="0" 
									  fill-opacity="0" stroke="var(--rpi-green"	stroke-width=".5em">
										
								<animate attributeName="r" 
										 from="0" to="70" 
						         dur="3s" repeatCount="indefinite" 
										 begin="1.5s" />
               
								<animate attributeName="stroke-opacity" 
												 from="1" to="0" dur="1s" 
												 repeatCount="indefinite" 
												 begin="1.5s">
								</animate>
								
						</circle>
						































						<circle cx="88.75%" cy="var(--cy)" r="0" fill="var(--rpi-green" stroke="var(--rpi-green)"></circle>
					</svg>-->
