<!DOCTYPE html>
<html lang="en-us">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Smart RPI</title>
		<link rel="icon" type="image/x-icon" href="/static/assets/favicon.ico">
		<link rel="icon" type="image/png" sizes="16x16" href="/static/assets/favicon-16x16.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/static/assets/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="48x48" href="/static/assets/favicon-48x48.png">
		<link rel="manifest" href="/static/assets/manifest.webmanifest">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="theme-color" content="#000">
		<meta name="application-name" content="Smart RPI">
		<link rel="apple-touch-icon" sizes="57x57" href="/static/assets/apple-touch-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/static/assets/apple-touch-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/static/assets/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/static/assets/apple-touch-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/static/assets/apple-touch-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/static/assets/apple-touch-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/static/assets/apple-touch-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/static/assets/apple-touch-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="167x167" href="/static/assets/apple-touch-icon-167x167.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/static/assets/apple-touch-icon-180x180.png">
		<link rel="apple-touch-icon" sizes="1024x1024" href="/static/assets/apple-touch-icon-1024x1024.png">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<meta name="apple-mobile-web-app-title" content="Smart RPI">
		<script src="https://cdn.tailwindcss.com"></script>
		<link href="/static/css/app.css" rel="stylesheet">
	  {{ stylesheet_pack('app') }}
		{{ javascript_pack('app', attrs='defer') }}
	</head>
	<body>
		<div id="root"></div>
		<div class="nav absolute top-0 w-full">
			{% include 'includes/navbar.html' %}
		</div>
			{% block content %}{% endblock content %}	
		<script src="/static/js/runtime.js"></script>
		<script src="/static/js/app.js"></script>
		<script>

			// Navbar
			let menuTog = document.querySelector('.menu-toggle');
			let navTop = document.getElementById('mobile-menu');
			let mobMenItems = document.querySelectorAll('.mob-men-item');
			let mobileMenu = document.getElementById('mobile-menu');
			let navLinks = Array.from(mobMenItems);
			menuTog.addEventListener('click', () => {
				menuTog.classList.toggle('active');
				navTop.classList.toggle('active');
				if (menuTog.classList.contains('active')) {
						navLinks.reverse().forEach(addActive);
						navTop.classList.add('active');
						function addActive(item, index) {
							let timeout = (index + 1) * 100;
							setTimeout(activate, timeout);
							function activate() {
								item.classList.add('active');
								console.log('activating');
							}
						}
				} else {
						navLinks.reverse().forEach(remActive);
						navTop.classList.remove('active');
						function remActive(item, index) {
							let timeout = (index + 1) * 100;
							setTimeout(deactivate, timeout);
							function deactivate() {
								item.classList.remove('active');
								console.log('deactivating');
							}
						}
				}
			});

			// Power button
			localStorage.setItem('bulb', 'off');
			let powerBtn = document.getElementById('power');
			let bulbOn = document.getElementById('bulb-on');
			let bulbOff = document.getElementById('bulb-off');
			if (powerBtn != null) {
				localStorage.getItem('bulb') == 'off' ? powerOff() : powerOn();
				
				powerBtn.addEventListener('click', () => {
					powerBtn.checked ? powerOn() : powerOff(); 
				});
			}		
			function powerOn() {
				bulbOn.style.display = 'block';
				bulbOn.style.marginLeft = ".4rem";
				bulbOff.style.display = 'none';
				localStorage.removeItem('bulb');
				localStorage.setItem('bulb', 'on');
			}				
			function powerOff() {
				bulbOn.style.display = 'none';
				bulbOff.style.display = 'block';
				localStorage.removeItem('bulb');
				localStorage.setItem('bulb', 'off');
			}

			// Wobble div
			let wobblers = document.querySelectorAll('.weeble');
			
			wobblers.forEach(wobblEm);
			function wobblEm(item) {
				item.addEventListener('mouseover', () => {
					item.classList.add('wobble');
					setTimeout(resetWobble, 500);
					function resetWobble() {
						item.classList.remove("wobble");
					}
				});								
			}

			// User menu
			let userBtn = document.getElementById("user-menu-button");
			userBtn.addEventListener('click', () => {
				let rotators = document.querySelectorAll(".rot-x");
				rotators.forEach(getDizzy);
				let closeUserMenu = document.createElement("div");
				let body = document.getElementsByTagName("body")[0];
				body.append(closeUserMenu);
				closeUserMenu.classList.add("full-block")
				function getDizzy(item, index) {
					let num = Number(index + 1) * 100;
					setTimeout(addClass, num);
					function addClass() {
						item.classList.add('rot-3d')
					}						
				}
				let clum = document.querySelectorAll('.full-block')[0]
					clum.addEventListener('click', () => {
					rotators.forEach(getStraight);
					function getStraight(item, index) {
						let num = Number(index + 1) * 100;
						setTimeout(remClass, num);
						function remClass() {
							item.classList.remove('rot-3d');		
						}							
					}
					clum.remove();
				});					
			});
				
			// Http request
			let btnList = document.getElementsByTagName("input")
			let btn = btnList[0];
			if (document.getElementById('status').innerText == "On") {
				btn.checked = true;
				document.getElementById('bulb-off').style.display = 'none';
				document.getElementById('bulb-on').style.display = 'block';
			}	else {
				btn.checked = false;
				document.getElementById('bulb-off').style.display = 'block';
				document.getElementById('bulb-on').style.display = 'none';
			}
			btn.addEventListener('change', () => {
				let status = document.getElementById('status');
				console.log(status.innerHtml)
				status.innerText == "Off" ? ledOn() : ledOff();
				status.innerText == "Off" ? status.innerText = "On" : status.innerText = "Off";
			});							

			function ledOn() {
				const Http = new XMLHttpRequest();
				const url='http://192.168.0.4:5000/devices/ledRed/on';
				Http.open("GET", url);
				Http.send();
			}							
			function ledOff() {
				const Http = new XMLHttpRequest();
				const url='http://192.168.0.4:5000/devices/ledRed/off';
				Http.open("GET", url);
				Http.send();
			}
		</script>
	</body>
</html>
